.picture {
    width: 60%;
    height: 60%;
}

.noMargin {
    h2, p {
        margin: unset;
    }
}

.layout {
    flex-direction: row;
}

@media screen and (max-width: 1045px) {
    .layout {
        flex-direction: column;
    }

    .picture {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}